Core/src/v3d/Viatronix.Enterprise.Server/schemas/application.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:include schemaLocation=".\sdk.xsd" />

  <xs:element name="application">
    <xs:complexType>

      <xs:attribute name="name" type="xs:string" use="optional" />
      <xs:attribute name="desc" type="xs:string" use="optional" />
      <xs:attribute name="inst" type="xs:boolean" use="optional" />
      <xs:attribute name="cad" type="xs:boolean" use="optional" />
      <xs:attribute name="default" type="xs:boolean" use="optional" />
      <xs:attribute name="mask" type="xs:int" use="optional" />
      <xs:attribute name="url" type="xs:string" use="optional" />
      <xs:attribute name="ver" type="xs:string" use="required" />
      <xs:attribute name="pri" type="xs:int" use="optional" />
      <xs:attribute name="id" type="xs:string" use="optional" />


    </xs:complexType>
  </xs:element>
</xs:schema>