Core/src/v3d/Viatronix.Enterprise.Server/schemas/context.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >

  <xs:element name="context" id="context">
    <xs:complexType>

      <xs:attribute name="id"     type="xs:string"    use="optional" />
      <xs:attribute name="lic"    type="xs:string"    use="optional" />
      <xs:attribute name="login"  type="xs:string"    use="optional" />
      <xs:attribute name="pwd"    type="xs:string"    use="optional" />
      <xs:attribute name="iss"    type="xs:dateTime"  use="optional" />
      <xs:attribute name="mod"    type="xs:dateTime"  use="optional" />
      <xs:attribute name="exp"    type="xs:dateTime"  use="optional" />
      <xs:attribute name="ref"    type="xs:int"       use="optional" />
      <xs:attribute name="ver"    type="xs:string"    use="required" />

    </xs:complexType>
  </xs:element>
  
</xs:schema>