Core/src/v3d/Viatronix.Enterprise.Server/schemas/database.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >


  <xs:element name="database">
    <xs:complexType>

      <xs:attribute name="name" type="xs:string" use="optional" />
      <xs:attribute name="filename" type="xs:string" use="optional" />
      <xs:attribute name="desc" type="xs:string" use="optional" />
      <xs:attribute name="ver" type="xs:string" use="optional" />


    </xs:complexType>
  </xs:element>
</xs:schema>