Core/src/v3d/Viatronix.Enterprise.Server/schemas/date.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >


  <xs:element name="date">
    <xs:complexType>

      <xs:attribute name="current" type="xs:dateTime" use="optional" />
      <xs:attribute name="ver" type="xs:string" use="required" />


    </xs:complexType>
  </xs:element>
</xs:schema>