Core/src/v3d/Viatronix.Enterprise.Server/schemas/dicomserver.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
 
  <xs:element name="dicomserver">
    <xs:complexType>

      <xs:attribute name="aetitle" type="xs:string" use="optional" />
      <xs:attribute name="server" type="xs:string" use="optional" />
      <xs:attribute name="date" type="xs:dateTime" use="optional" />
      <xs:attribute name="port" type="xs:int" use="optional" />
      <xs:attribute name="ver" type="xs:string" use="required" />

    </xs:complexType>
  </xs:element>
</xs:schema>