Core/src/v3d/Viatronix.Enterprise.Server/schemas/domain.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:include schemaLocation=".\sdk.xsd" />

  <xs:element name="domain">
    <xs:complexType>

      <xs:attribute name="name" type="xs:string" use="optional" />
      <xs:attribute name="ver" type="xs:string" use="required" />

    </xs:complexType>
  </xs:element>
</xs:schema>