Core/src/v3d/Viatronix.Enterprise.Server/schemas/filelist.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >


  <xs:element  name="filelist" id="filelist">
    <xs:complexType>

      <xs:attribute name="uid" type="xs:string" use="required" />
      <xs:attribute name="path" type="xs:string" use="required" />
      <xs:attribute name="ver" type="xs:string" use="required" />

    </xs:complexType>
  </xs:element>
</xs:schema>