Core/src/v3d/Viatronix.Enterprise.Server/schemas/message.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:include schemaLocation=".\sdk.xsd" />

  <xs:element name="message">
    <xs:complexType>

      <xs:attribute name="id" type="xs:int" use="optional" />
      <xs:attribute name="app" type="xs:string" use="optional" />
      <xs:attribute name="type" type="xs:string" use="optional" />
      <xs:attribute name="src" type="xs:string" use="optional" />
      <xs:attribute name="date" type="xs:dateTime" use="optional" />
      <xs:attribute name="ort" type="xs:string" use="optional" />
      <xs:attribute name="ver" type="xs:string" use="required" />

    </xs:complexType>
  </xs:element>
</xs:schema>