Core/src/v3d/Viatronix.Enterprise.Server/schemas/passwordtemplate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:include schemaLocation=".\sdk.xsd" />

  <xs:element name="passwordtemplate" id="passwordtemplate" >

    <xs:complexType>


      <xs:attribute name="id"    type="xs:string"  use="optional" />
      <xs:attribute name="desc"    type="xs:string"  use="optional" />
      <xs:attribute name="default"   type="xs:boolean"    use="optional" />
      <!-- <xs:attribute name="template"    type="xs:string"    use="optional" />-->
  
    </xs:complexType>
  </xs:element>
</xs:schema>