Core/src/v3d/Viatronix.Enterprise.Server/schemas/right.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:include schemaLocation=".\sdk.xsd" />

  <xs:element name="right">
    <xs:complexType>

      <xs:attribute name="name" type="xs:string" use="optional" />
      <xs:attribute name="prm" type="xs:int" use="optional" />
      <xs:attribute name="desc" type="xs:string" use="optional" />
      <xs:attribute name="ver" type="xs:string" use="required" />

    </xs:complexType>
  </xs:element>
</xs:schema>