Core/src/v3d/Viatronix.Enterprise.Server/schemas/sdk.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  >

  <xs:complexType name="dateRangeType" >
    <xs:attribute name="from" type="xs:date" use="optional" />
    <xs:attribute name="to" type="xs:date" use="optional" />
  </xs:complexType>

  <xs:complexType name="dateTimeRangeType" >
    <xs:attribute name="from" type="xs:dateTime" use="optional" />
    <xs:attribute name="to" type="xs:dateTime" use="optional" />
  </xs:complexType>

  <xs:complexType name="intRangeType" >
    <xs:attribute name="from" type="xs:nonNegativeInteger" use="optional" />
    <xs:attribute name="to" type="xs:nonNegativeInteger" use="optional" />
  </xs:complexType>

  <xs:complexType name="searchType">
    <xs:attribute name="style" use="optional">
      <xs:simpleType>
        <!-- restrict choice to combinations of patient, study and series -->
        <xs:restriction base="xs:string">
          <xs:enumeration value="ID"/>
          <xs:enumeration value="Index"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>

    <xs:attribute name="schema" type="xs:boolean" use="optional" />
    <xs:attribute name="value" type="xs:string" use="optional" />
    <xs:attribute name="count" type="xs:positiveInteger" use="required" />

  </xs:complexType>
  
</xs:schema>