Core/src/v3d/Viatronix.Enterprise.Server/schemas/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >

  <xs:element name="service">
    <xs:complexType>
      
      <xs:attribute name="db" type="xs:string" use="required" />
      <xs:attribute name="tbl" type="xs:string" use="required" />
      <xs:attribute name="ver" type="xs:string" use="required" />

    </xs:complexType>
  </xs:element>
</xs:schema>