Core/src/v3d/Viatronix.Enterprise.Server/schemas/server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >


  <xs:element name="server" id="server">
    <xs:complexType>

      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="state" type="xs:string" use="optional" />
      <xs:attribute name="date" type="xs:dateTime" use="optional" />
      <xs:attribute name="job" type="xs:string" use="optional" />
      <xs:attribute name="task" type="xs:string" use="optional" />
      <xs:attribute name="ver" type="xs:string" use="required" />

    </xs:complexType>
  </xs:element>
</xs:schema>