Core/src/v3d/Viatronix.Enterprise.Server/schemas/site.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:include schemaLocation=".\sdk.xsd" />

  <xs:element name="site">
    <xs:complexType>
 

      <xs:attribute name="id" type="xs:int" use="optional" />
      <xs:attribute name="name" type="xs:string" use="optional" />
      <xs:attribute name="addr1" type="xs:string" use="optional" />
      <xs:attribute name="addr2" type="xs:string" use="optional" />
      <xs:attribute name="city" type="xs:string" use="optional" />
      <xs:attribute name="state" type="xs:string" use="optional" />
      <xs:attribute name="zip" type="xs:string" use="optional" />
      <xs:attribute name="status" type="xs:string" use="optional" />
      <xs:attribute name="cntry" type="xs:string" use="optional" />
      <xs:attribute name="int" type="xs:boolean" use="optional" />
      <xs:attribute name="ver" type="xs:string" use="required" />

    </xs:complexType>
  </xs:element>
</xs:schema>