Core/src/v3d/Viatronix.Enterprise.Server/schemas/systemconfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >

  <xs:element name="systemconfig" id="config" >

    <xs:complexType>
      <xs:sequence>
        <xs:element name="config"        minOccurs="0" maxOccurs="1"/>
      </xs:sequence>


      <xs:attribute name="name"    type="xs:string" use="optional" />
      <xs:attribute name="desc"    type="xs:string" use="optional" />
      <xs:attribute name="ver"    type="xs:string"  use="required" />

    </xs:complexType>
  </xs:element>
</xs:schema>