Core/src/v3d/Viatronix.Enterprise.Server/schemas/systemsetting.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >


  <xs:element name="systemsetting" id="systemsetting">
    <xs:complexType>

      <xs:attribute name="subsystem" type="xs:string" use="optional" />
      <xs:attribute name="name" type="xs:string" use="optional" />
      <xs:attribute name="value" type="xs:string" use="optional" />
      <xs:attribute name="chg" type="xs:boolean" use="optional" />
      <xs:attribute name="expand" type="xs:boolean" use="optional" />
      <xs:attribute name="ver" type="xs:string" use="required" />

    </xs:complexType>
  </xs:element>
</xs:schema>