Core/src/v3d/Viatronix.Enterprise.Server/schemas/viewer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >

  <xs:element name="viewer">
    <xs:complexType>
      
      <xs:attribute name="uid" type="xs:string" use="required" />
      <xs:attribute name="login" type="xs:string" use="required" />
      <xs:attribute name="pwd" type="xs:string" use="required" />
      <xs:attribute name="newsession" type="xs:boolean" use="optional" />

    </xs:complexType>
  </xs:element>
  
</xs:schema>